.search-bar {
    /*移动端最小点击高度*/
    height: 44px;
}
.search-bar .MuiOutlinedInput-root {
    height: 44px;
}
.search-bar .MuiOutlinedInput-root input.MuiAutocomplete-input {
    padding-top: 2px;
}
.search-bar > button {
    width: 80px;
    margin: 0 12px;
}
